<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pantalla de error 404">
    <meta name="keywords" content="error, 404, regresar, atras">
    <meta name="author" content="Johana Gutierrez"/>
    <link rel="shortcut icon" href="img/favicon.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Error 404 página no encontrada</title>
  </head>


  <body>
    <main class="container-fluid d-flex flex-column justify-content-center align-items-center">
      <img  class="img-fluid  w-50" src="../img/404.png">
      <h1 class="titulos fs-4 text-center">Lo sentimos no pudimos encontrar lo que buscabas</h1>     
      <section>
        <a href="../index.html" class="btn textoBlanco bg-brown btnStyle">Volver</a>
      </section> 
    </main>


     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>

